# Directories
.vs/
/bin/
bin-int/

#GLFW
/Ocean/vendor/GLFW/bin-int/
/Ocean/vendor/GLFW/bin/
/Ocean/vendor/GLFW/premake5.lua

#ImGui
/Ocean/vendor/imgui/ImGui.vcxproj
/Ocean/vendor/imgui/bin-int/
/Ocean/vendor/imgui/bin/
/Ocean/vendor/imgui/premake5.lua

# Files
*.user

# Archived
z_OceanEngine2D_Vulcan_Standalone/
z_OceanEngine3D_Vulcan_Standalone/