[submodule "glfw"]
	path = Ocean/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "StackWalker"]
	path = Ocean/vendor/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker
[submodule "tlsf"]
	path = Ocean/vendor/tlsf
	url = https://github.com/mattconte/tlsf
[submodule "VulkanMemoryAllocator"]
	path = Ocean/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "premake-cmake"]
	path = vendor/premake/premake-cmake
	url = https://github.com/Jarod42/premake-cmake
